.container {
    box-sizing: border-box;
    border: 8px solid black;
    width:60%;
    height: 720px;
    margin:4px auto;
}

.header {
    height: 120px;
    background-color: lightcoral;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
}

aside {
    width:45%;
    height: 250px;
    background-color: lightgreen;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 250px;
}

nav {
    width:45%;
    height: 250px;
    background-color: lightskyblue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 250px;
}

main {
    float:right;
    width:55%;
    height: 500px;
    background-color: blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 500px;
    margin-top:-500px;
}

.footer {
    height: 85px;
    background-color: lightcoral;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 85px;   
}